body
{
  padding: 0;
  margin: 0;
  font-family: 'Tenor Sans', sans-serif;
  height: 100%;
}

.header_bottom
{
  background-color: #002147;
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  box-shadow: 0 9px 13px 7px rgb(0 0 0 / 33%);
  display: flex;
  justify-content: flex-end;
}

.register
{
  height:45px;
  padding: 0 24px;
  border: none;
  background-color: white;
  border-radius: 20px;
  color: #002147;
  margin-left: 30px;
  font-size: 17px;
  cursor: pointer;
}

.login
{
  color: white;
  cursor: pointer;
  margin-left: 30px;
}

.book_img
{
  background-image: url(../../img/book.jpg);
  width: 100%;
  min-height: 578px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  text-align: center;
  position: relative;
}