.main
{
  display: flex;
}
.needslist
{
  display: flex;
    margin: 30px 50px 30px 30px;
	  border-radius: 30px;
	  box-shadow: 0 0 10px rgb(0 0 0 / 33%);
    background-color: rgba(0, 33, 71); 
    padding: 15px 100px; 
    font-size: 18px;
    color: #ffffff99;
    text-align: center;
    align-items: center;
    flex-direction: column; 
}
.needslist p.active{
  color: rgb(133,12,35);
}
.needslist p
{
  text-decoration: underline;
  cursor: pointer;
}
h2 {
  color: rgba(0, 33, 71);
} 
.subjects {
  margin-top: 30px;
}
.subjectsElement{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 33%);
    background-color:  rgb(133,12,35);
    padding: 15px 25px;
    font-size: 18px;
    color: #ffffff99;
    text-align: center;
    margin-right: 10px;
    width: 150px;
    cursor: pointer;
}

.booklist {
    display: inline-block;
    margin: 30px 10px;
	  border-radius: 20px;
	  box-shadow: 0 0 10px rgb(0 0 0 / 33%);
    background-color:  rgb(133,12,35);
    padding: 15px 25px;
    width: 300px;
    font-size: 18px;
    color: #ffffff99;
    text-align: center;
  }
  .bookImg{
    width: 50%;
    height: 30%;
  }
  .bookButton {
    top: 90%;
    left: 30%;
    border:none;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgba(0, 33, 71); ;
    text-decoration: none;
    padding: 10px;
    color: #ffffff99;
    margin-top: 10px;
  }
  .bookButton:hover {
    text-decoration: none;
    box-shadow:4px 4px #babaae;
   }
   .bookDescription a
   {
    color: #ffffff99;
    text-decoration: none;
   }
   .buttons
   {
    display: flex;
    justify-content: space-between;
   }

  
 

    
  