.listElement
{
    background-color:  rgb(133,12,35);
    height: 50px;
    width: 60%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #ffffff99;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.carts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:calc(100vh - 420px);
}
.listElement p{
    flex: 1;
    text-align: center;
}
.numberInput
{
    flex: 1;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
}
.acceptImg
{
    cursor: pointer;
}

.searchLine{
    display: flex;
    justify-content: center;
}

.searchUser
{
  margin-top: 20px;
  padding: 1px 24px;
  height: 50px;
  width: 20%;
  border: none;
  background-color:  rgb(133,12,35);
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchUser img{
    margin-left: 10px;
}
.usernameInput
{
    flex: 1;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
    background-color:  rgb(133,12,35);
    color: white;
    font-size: 17px;
}