.listElement
{
    background-color:  rgb(133,12,35);
    height: 50px;
    width: 60%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #ffffff99;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.carts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:calc(100vh - 350px);
}
.listElement p{
    flex: 1;
    text-align: center;
}
.numberInput
{
    flex: 1;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
}
.acceptImg
{
    cursor: pointer;
}
